{% extends 'main_template.html' %}

{% block title %}
  نمایش خاطرات
{% endblock %}

{% block content %}
  <h1 class="text-center text-primary">خاطره ثبت شده درون سایت</h1>

  {% for memory in memories %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ memory.memory_title }}</h5>
        <p class="card-text">{{ memory.memory_text }}</p>
        {% for image in memory.images.all %}
          <img class="img-thumbnail img-300x200" src="{{ media_url }}{{ image.memory_image_name }}" alt="...." />
        {% endfor %}

        <div>
          {% if memory.id in list_memory_liked_id %}
            <a href=""><i class="fa fa-heart"></i></a>
          {% else %}
            <a data-catid="{{ memory.id }}" onclick="like({{ memory.id }})"><i id="icon_like{{ memory.id }}" class="fa fa-heart-o"></i></a>
          {% endif %}
        </div>

      </div>
    </div>
  {% endfor %}
{% endblock %}
