<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">باغ فردوس</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:index' %}">صفحه اصلی <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">معرفی باغ</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'places:history' %}">تاریخچه</a>
          <a class="dropdown-item" href="{% url 'places:parts' %}">بخش های باغ</a>
          {% comment %} <div class="dropdown-divider"></div> {% endcomment %}
          <a class="dropdown-item" href="{% url 'places:pdf_path' %}">مسیر یابی</a>
          <a class="dropdown-item" href="{% url 'places:ticket_price' %}">برنامه و قوانین</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">گالری</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url "memories:show_memories" %}">خاطرات بازدید</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url "memories:register_memory" %}">درج خاطره</a>
      </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">آموزش و پژوهش</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'articles:blog' %}">مقالات</a>
          <a class="dropdown-item" href="{% url 'workshops:show' %}">کارگاه ها</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'places:contact' %}">تماس با ما</a>
      </li>
    </ul>
    {% include 'partials/login_state.html' %}
  </div>
</nav>
